<div class="bottom">
  <div class="bottom__nav">
    <ul class="bottom__nav-list">
      <li>
        <a class="bottom__nav-link" href="#">ЧОЛОВІКИ</a>
      </li>
      <li>
        <a class="bottom__nav-link" href="#">ЖІНКИ</a>
      </li>
      <li>
        <a class="bottom__nav-link" href="#">ДІТИ</a>
      </li>
    </ul>
  </div>
  <div class="bottom__action"><%- include('../partials/action'); %></div>
</div>
