<div class="footer">
  <div class="footer__container">
    <div class="footer__language-wrapper">
      <img class="footer__language-image" src="" alt="" />
      <p class="footer__language">Україна</p>
    </div>
    <ul class="footer-list">
      <li>
        <a class="footer-link" href="#">юридична інформація</a>
      </li>
      <li>
        <a class="footer-link" href="#">обробка персональніх данних</a>
      </li>
      <li>
        <a class="footer-link" href="#"
          >© ДП "Адідас-Україна". Всі права захищені</a
        >
      </li>
    </ul>
  </div>
</div>
