<div class="top">
  <div class="top__nav">
    <ul class="top__nav-list">
      <li>
        <a class="top__nav-link" href="#">українська</a>
      </li>
      <li>
        <a class="top__nav-link" href="#">підписка на новини</a>
      </li>
      <li>
        <a class="top__nav-link" href="#">відстежити замовлення</a>
      </li>
      <li>
        <a class="top__nav-link" href="#">контакти магазинів</a>
      </li>
      <li>
        <a class="top__nav-link" href="#">допомога</a>
      </li>
      <li>
        <a class="top__nav-link" href="#">увійти</a>
      </li>
    </ul>
  </div>
</div>
