<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/clear.css">
    <link rel="stylesheet" type="text/css" href="/pages/catalog/catalog.css">
</head>

<body>
    <div class="content">

        <header>
            <%- include('../../partials/header/header.ejs') %>
        </header>

        <main class="main"></main>
        <footer class="footer"></footer>
    </div>
</body>

</html>