.action-navbar__actions-container {
    height: 48px;
    display: flex;
    align-items: center;
}

.action-navbar__seach-container {
    height: 34px;
    order: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22.7px;
    width: calc(15vw - 30px);
    min-width: 110px;
    max-width: 270px;
}

.action-navbar__seach-wrapper {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 110px;
    max-width: 270px;
}

.action-navbar__seach {
    width: inherit;
    height: inherit;
    padding: 0 32px 0 11px;
    background: #ebedee;
    border: 1px solid transparent;
    outline: none;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 32px;
    color: #000;
    font-weight: 400;
}

.action-navbar__seach-icon {
    position: absolute;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.action-navbar__action {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-navbar__action-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}