<link rel="stylesheet" type="text/css" href="/partials/header/action__navbar.css">

<div class="action-navbar__actions-container">
    <div class="action-navbar__seach-container">
        <div class="action-navbar__seach-wrapper">
            <input class="action-navbar__seach" type="text" placeholder="Поиск">
            <div class="action-navbar__seach-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="main-color" fill-rule="evenodd" clip-rule="evenodd"
                        d="M14.7818 9.87273C14.7818 12.5839 12.5839 14.7818 9.87273 14.7818C7.16151 14.7818 4.96364 12.5839 4.96364 9.87273C4.96364 7.16151 7.16151 4.96364 9.87273 4.96364C12.5839 4.96364 14.7818 7.16151 14.7818 9.87273ZM14.0339 15.343C12.8789 16.223 11.4368 16.7455 9.87273 16.7455C6.07702 16.7455 3 13.6684 3 9.87273C3 6.07702 6.07702 3 9.87273 3C13.6684 3 16.7455 6.07702 16.7455 9.87273C16.7455 11.4368 16.223 12.8789 15.343 14.0339L21 19.6909L19.6909 21L14.0339 15.343Z"
                        fill="black"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="action-navbar__action">
        <a class="action-navbar__action-link" href="#">
            <div class="action-navbar__action-wrapper">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="main-color" d="M21 21L17.625 16.5H6.375L3 21" stroke="black" stroke-width="2">
                    </path>
                    <path class="main-color" fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5 9C16.5 11.485 14.485 13.5 12 13.5C9.514 13.5 7.5 11.485 7.5 9C7.5 6.515 9.514 4.5 12 4.5C14.485 4.5 16.5 6.515 16.5 9Z"
                        stroke="black" stroke-width="2"></path>
                </svg>
            </div>
        </a>
    </div>
    <div class="action-navbar__action">
        <a class="action-navbar__action-link" href="#">
            <div class="action-navbar__action-wrapper">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="main-color" fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.377 6H6.424L4 10L12 18L20 10L17.594 6H14.605L12 9L9.377 6Z" stroke="black"
                        stroke-width="2">
                    </path>
                </svg>
            </div>
        </a>
    </div>
    <div class="action-navbar__action">
        <a class="action-navbar__action-link" href="#">
            <div class="action-navbar__action-wrapper">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="main-color" fill-rule="evenodd" clip-rule="evenodd" d="M5 21H19V7H5V21Z" stroke="black"
                        stroke-width="2"></path>
                    <path class="main-color" d="M15 10V3H9V10" stroke="black" stroke-width="2"></path>
                </svg>
            </div>
        </a>
    </div>
</div>