.header-main {
    display: flex;
}

.header-main__nav-container {
    flex: 1 0;
    padding-left: 12%;
}

.header-main__act-container {
    flex: 0;
}

.header-main__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-main__nav-list a{
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */

}

.header-main__nav-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main__nav-menu li {
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.87px;
    font-weight: 700;
    white-space: nowrap; /* Запрещаем перенос слов */
}