<link rel="stylesheet" type="text/css" href="/partials/header/header__top.css">

<div class="header-top">
    <div class="header-top__menu">
        <ul class="header-navbar__list header-top__list">
            <% ["подписка на новости" , "контакты магазинов" , "помощь" , "войти" ].forEach((element)=> {
                %> <li>
                    <a class="" href="#">
                        <%= element %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
</div>